{% extends 'baseSubpagina.html' %}
	
{% block content %}		
	<h3><a href="{% url 'appDS:portada'%}">Panel de control /</a> <a href="{%url 'appDS:agregar'%}">Catálogo de Clientes /</a> Cliente: {{cliente.id}}</h3>
	<div class="menu">
			{% if ruta.vieneDe == 'crear' %}
			<div class="alerta"> Registro <strong>agregado</strong> correctamente</div><br>
			{% elif ruta.vieneDe == 'editar' %}
			<div class="alerta"> Registro <strong>modificado</strong> correctamente</div><br>
			{% else %}
			<h2>Detalle de Cliente</h2>
			{% endif %}
			<label>Nombre:</label>
		  	<p>{{cliente.nombre}}</p>

		  	<label>Dirección:</label>
		  	<p>{{cliente.direccion_1}}</p>

		  	<label>Teléfono:</label>
		  	<p>{{cliente.telefono}}</p>
		    
		  	<figure>
		  		<img src="{{cliente.foto.url}}" alt="">
		  	</figure>	

			<button class="botonEditar"  onclick="location.href='{%url 'appDS:update' object.id%}';">Editar</button>	
			<button class="botonEliminar" onclick="location.href='{%url 'appDS:borrar' object.id%}';">Eliminar</button>	

	</div>

	<section class="registros">
		<div class="lista">
			<div class="encabezado">
				<div class="regId">Id</div>
				<div class="regNombre">Nombre</div>
				<div class="regDireccion">Dirección</div>
				<div class="regTelefono">Teléfono</div>
				<div class="regAccion">Acción</div>
			</div>
			{% for cl in clientes%}
			<div class="registro">
				<div class="regId">{{cl.id}}</div>
				<div class="regNombre">{{cl.nombre}}</div>
				<div class="regDireccion">{{cl.direccion_1}}</div>
				<div class="regTelefono">{{cl.telefono}}</div>
				<div class="regAccion">
					<a href="{%url 'appDS:detalle' cl.id%}" title="Ver"><div class="visualizar botonAcion">:)</div></a>			
					<a href="{%url 'appDS:update' cl.id%}" title="Editar"><div class="editar botonAcion">:|</div></a>
					<a href="{%url 'appDS:borrar' cl.id%}" title="Eliminar"> <div class="eliminar botonAcion">:(</div></a>
				</div>
			</div>
			{%endfor%}
			
			
		</div>
	</section>
{%endblock%}